*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}
.separado{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgba(230, 230, 230, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    flex-direction: column;
}
.cabecalho{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 3px solid rgb(255 255 255);
}
.bolinha{
    background-color: yellow;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
}
.nome{
    height: 70px;
    width: 224px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opcoes{
    height: 70px;
    width: 410px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.traco{
    margin-right: 12px;
    font-size: 35px;
}
.sticky{
    background-color: orange;
    position: sticky;
    top: 15px;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 15px;
    margin-top: 20px
}
.geral{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 435px;
    margin-top: 50px;
    overflow: auto;
}
.parte1{
    width: 100vw;
    height: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.parte2{
    width: 270px;
    height: 435px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.parte3{
    width: 270px;
    height: 435px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.trab{
    width: 225px;
    height: 195px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px;
}
.titulo{
    width: 225px;
    height: 80px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.credito{
    width: 225px;
    height: 115px;
    display: flex;
    font-size: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (width < 415px) {
    body{
        align-items: flex-start;
    }
    .cabecalho{
        display: none;
    }
    .botao{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        width: 150px;
        font-size: 15px;
        background-color: #47ff50;
        font-weight: bold;
    }
    .separado{
        width: 50vw;
        height: 100%;
        display: block;
    }
    .titulos{
        margin-top: 70px;
        margin-bottom: 30px;
        background-color: wheat;
        width: 100vw;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        height: fit-content;
    }
    .links{
        text-decoration: none;
        background: white;
        margin-bottom: 22px;
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;    
    }
    .aberto{
        display: none;
        flex-direction: column;
        height: 80vw;
        width: 100vw;
        align-items: center;
    }
    aside{
        display: flex;
        transition: 0.5s ease-in-out;
        background: rgb(226 96 96);
        position: absolute;
        width: 0vw;
        height: 101vh;
        z-index: 1;
        border-right: 5px solid black;
        border-bottom: 5px solid black;
    }
    .sticky{
        display: none;
    }
    .body{
        display: flex;
    }
    .geral{
        display: flex;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
        height: 100vh;
        margin-top: 0px;
        overflow: auto;
    }
    .parte1{
        width: -webkit-fill-available;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 110px;
    }
    .trab{
        width: 90vw;
        height: 240px;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        margin: 0px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .titulo{
        width: 100%;
        height: 90px;
        background-color: orange;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid black;
        font-size: 23px;
    }
    .credito{
        width: 100%;
        height: -webkit-fill-available;
        display: flex;
        font-size: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}