*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background-color: rgba(230, 230, 230, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    flex-direction: column;
}
.cabecalho{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 3px solid rgb(255 255 255);
}
.bolinha{
    background-color: yellow;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
}
.nome{
    height: 70px;
    width: 224px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opcoes{
    height: 70px;
    width: 410px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.traco{
    margin-right: 12px;
    font-size: 35px;
}
.geral{
    height: fit-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.card{
    width: 450px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 30px 10px 30px 10px;
    box-shadow: 10px 8px 10px 0px rgba(0, 0, 0, 0.5);
}
.parte1{
    width: 450px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px 5px 0px 0px;
    font-size: 25px;
}
.parte2{
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px double black;
}
.parte3{
    width: 450px;
    height: 250px;
    border-radius: 0px 0px 25px 5px;
    display: flex;
}
.foto{
    height: 184px;
    border-radius: 100%;
    border: 4px solid black;
}
.coluna1{
    display: flex;
    font-size: 20px;
    align-items: center;
    padding-left: 10px;
    border-radius: 0px 0px 0px 5px;
    width: 180px;
    height: 241px;
}
.coluna2{
    width: 260px;
    height: 241px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 0px 0px 25px 0px;
    font-size: 15px;
}
.barra{
    background-color: #b9b1b19c;
    width: 247px;
    height: 50px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.gmail{
    font-size: 14px;
}