*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}
html{
    overflow-x: hidden;
}
.separado{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
body{
    background: linear-gradient(to right, rgba(230, 230, 230, 1), white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    animation: fundo 2s linear;
    filter: blur(0px);
}
@keyframes fundo {
    0% 
    {
        filter: blur(5px);

    }
    100%
    {
        filter: blur(0px);

    }
}
.cabecalho{
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: -80px;
    border-bottom: 3px solid rgb(255 255 255);
}
.bolinha{
    background-color: yellow;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;
}
.nome{
    height: 70px;
    width: 224px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.opcoes{
    height: 70px;
    width: 498px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
}
.traco{
    margin-right: 12px;
    font-size: 35px;
}
.geral2{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}
.sticky{
    background-color: orange;
    position: sticky;
    top: 6px;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid black;
    font-size: 15px;
    z-index: 1;
}
.parte1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    height: fit-content;
    margin-top: 10px;
    flex-wrap: wrap
}
.projeto{
    width: 230px;
    height: 255px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 5px 8px 0px rgb(0 0 0);
    animation: anima 2s linear;
    position: relative;
    left: 0px;
    transform: rotate(0deg);
}
@keyframes anima {
    0% 
    {
        left: -100vw;
        transform: rotate(720deg);
    }
    100%
    {
       left: 0px;
       transform: rotate(0deg);
    }
}
.foto{
    width: 230px;
    height: 130px;
}
.img{
    width: 230px;
    height: 130px;
}
.img2{
    width: 230px;
    height: 130px;
}
.img3{
    width: 200px;
    height: 110px;
}
.img5{
    width: 230px;
    height: 130px;
}
.titulo{
    width: 230px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.texto{
    background-color: orange;
    width: 230px;
    height: 125px;
}
.texto2{
    flex-direction: column;
    background-color: white;
    width: 230px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.link{
    color: blue;
}
.link:hover{
    color: green;
}
@media screen and (width < 415px) {
    body{
        align-items: flex-start;
    }
    .cabecalho{
        display: none;
    }
    .botao{
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        width: 150px;
        font-size: 15px;
        background-color: #47ff50;
        font-weight: bold;
    }
    .separado{
        width: 50vw;
        display: block;
    }
    .titulos{
        margin-top: 70px;
        margin-bottom: 30px;
        background-color: wheat;
        width: 100vw;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        height: fit-content;
    }
    .links{
        text-decoration: none;
        background: white;
        margin-bottom: 22px;
        width: 100vw;
        height: fit-content;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;    
    }
    .aberto{
        display: none;
        flex-direction: column;
        height: 80vw;
        width: 100vw;
        align-items: center;
    }
    aside{
        display: flex;
        transition: 0.5s ease-in-out;
        background: rgb(226 96 96);
        position: absolute;
        width: 0vw;
        height: 100vh;
        z-index: 1;
        border-right: 5px solid black;
        border-bottom: 5px solid black;
    }
    .sticky{
        display: none;
    }
    .geral2{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
        overflow: auto;
    }
    .parte1{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        margin-top: 10px;
        flex-wrap: wrap;
        width: -webkit-fill-available;
        margin-top: 170px;
    }
    .projeto{
        width: 270px;
        height: 330px;
        background-color: white;
        border: 2px solid black;
        margin: 20px;
        box-shadow: 5px 8px 0px rgb(0 0 0);
        animation: anima 2s linear;
        position: relative;
        left: -0px;
        transform: rotate(0deg);
    }
    .foto{
        width: 100%;
        height: 140px;
    }
    .img{
        width: 100%;
        height: 140px;
    }
    .texto{
        width: 100%;
        height: 190px;
        font-size: 19px;
    }
    .titulo{
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: orange;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        border-bottom: 5px solid black;
        border-top: 5px solid black;
        height: fit-content;
        height: 70px;
    }
    .texto2{
        flex-direction: column;
        width: -webkit-fill-available;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
